body, html {
    background-color: rgb(26, 26, 26);
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    width: 100%;
    height: 100%;
}
h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(255, 255, 255);
}
img {
    width: 250px;
    height: 250px;
}
#partners-img {
    width: 100px;
    height: 100px;
}
#header-img {
    width: 200px;
    height: 200px;
}
#img-bear {
    margin-top: 50px;
    width: 200px;
    height: 200px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
header h1 {
    color: rgb(240, 240, 240);
    font-size: 58px;
}
#block {
    display: flex;
    justify-content: start;
    height: 45vh;
}
#block h2 {
    width: 30%;
    padding: 100px;
}
#block span {
    text-decoration: underline;
    cursor: pointer;
}
#block1 { 
    display: flex;
    justify-content: flex-end;
    height: 50vh;
}
#block1 h2 {
    width: 30%;
    padding: 100px;
}
#question {
    height: 30vh;
}
.que-container {
    display: flex;
    justify-content: center;
}
.que-container img {
    height: 100px;
    width: 100px;
}
.que-container h2 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
}
.p-container {
    display: flex;
    justify-content: center;
}
.p-container p {
    color: rgb(235, 235, 235);
    padding-top: 50px;
}
.p-container a {
    color: white;
}
#partners {
    height: 155vh;
    text-align: center;
}
#partners-title {
    margin-top: 50px;
    font-size: 39px;
    font-weight: 500;
}
.twitch-partner {
    display: flex;
    justify-content: center;
}
.twitch-partner iframe {
    height: 45vh;
    width: 80vh;
    padding-left: 600px;
}
.partners-container {
    display: flex;
    justify-content: flex-end;
    width: 70vh;
    height: 10vh;
}
.partners-container span {
    font-weight: 500;
    font-size: 28px;
}
.partners-container h2 {
    padding-top: 250px;
    padding-left: 250px;
    font-size: 18px;
}

footer h4 {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 13px;
}
footer span {
    margin-left: 7px;
    font-weight: 400;
}
.swal-text {
    color: white;
}
.swal-footer {
    color: rgb(228, 228, 228);
}
.swal-button {
    color: white;
    padding: 15px;
    background-color: rgb(58, 58, 58);
    border: none;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    margin-top: -15px;
}
.swal-button:hover {
    background-color: rgb(48, 48, 48);

}
.swal2-popup {
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(26, 26, 26);

}
::-webkit-scrollbar-thumb {
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
}